# Plot the performance curve for how to optimize gemm

In [34]:
# import lib
import os
import glob
import pandas as pd
from pathlib import Path

In [81]:
# load data

all_files = sorted(glob.glob("../data/*.csv"))
all_data=pd.DataFrame()

for file in all_files:
    data = pd.read_csv(all_files[0], usecols=['p', 'gflops'], index_col='p')
    data.columns=[Path(file).stem + '_gflops']
    all_data = pd.concat([all_data, data], axis=1)
display(all_data.head())

     MMult0_gflops  MMult2_gflops  MMult3_gflops  MMult5_gflops
p
40        0.969697       0.969697       0.969697       0.969697
80        0.906997       0.906997       0.906997       0.906997
120       0.960534       0.960534       0.960534       0.960534
160       1.062103       1.062103       1.062103       1.062103
200       1.298174       1.298174       1.298174       1.298174

In [79]:



display(all_data)

     MMult0_gflops  MMult2_gflops  MMult3_gflops  MMult5_gflops
p
40        0.969697       0.969697       0.969697       0.969697
80        0.906997       0.906997       0.906997       0.906997
120       0.960534       0.960534       0.960534       0.960534
160       1.062103       1.062103       1.062103       1.062103
200       1.298174       1.298174       1.298174       1.298174
240       1.590062       1.590062       1.590062       1.590062
280       2.135824       2.135824       2.135824       2.135824
320       2.028476       2.028476       2.028476       2.028476
360       2.029669       2.029669       2.029669       2.029669
400       2.024099       2.024099       2.024099       2.024099
440       2.025105       2.025105       2.025105       2.025105
480       1.982895       1.982895       1.982895       1.982895
520       2.019809       2.019809       2.019809       2.019809
560       2.005791       2.005791       2.005791       2.005791
600       2.013226       2.013226       2.013226       2.013226
640       1.986233       1.986233       1.986233       1.986233
680       2.004673       2.004673       2.004673       2.004673
720       1.988217       1.988217       1.988217       1.988217
760       1.999909       1.999909       1.999909       1.999909
800       1.983335       1.983335       1.983335       1.983335

In [74]:
data0 = pd.read_csv(all_files[0], usecols=['p', 'gflops'] ,index_col='p')
data0.columns=['MMult0_gflops']
data1 = pd.read_csv(all_files[1], usecols=['p', 'gflops'], index_col='p')
data1.columns=['MMult2_gflops']
data0.head()

     MMult0_gflops
p
40        0.969697
80        0.906997
120       0.960534
160       1.062103
200       1.298174

In [77]:
data = pd.concat([data0, data1], axis=1)

In [78]:
display(data)

     MMult0_gflops  MMult2_gflops
p
40        0.969697       0.984615
80        0.906997       0.907801
120       0.960534       0.970514
160       1.062103       1.092704
200       1.298174       1.301977
240       1.590062       1.597043
280       2.135824       2.132815
320       2.028476       2.027974
360       2.029669       2.018604
400       2.024099       2.024772
440       2.025105       2.022508
480       1.982895       2.013711
520       2.019809       2.015611
560       2.005791       2.017867
600       2.013226       2.008200
640       1.986233       2.016865
680       2.004673       2.007310
720       1.988217       2.009140
760       1.999909       1.952028
800       1.983335       1.986937